/* *************************** */
/**** Arbres généalogiques****/
/* ************* *************/

body {
    margin: 0px;
    font-family: var(--font-text);
    /* cursor: url(../images/cursor.png), pointer; */
    background: var(--bg-body);

}


.wrap{
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* .wrap_intro{
    width: 50%;
    display: flex;
    align-items: center;
} */

.wrap_tree{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dog-tree{
    width: 80%;
    margin-left: 2%;
}

/* .dog-img{
    width: 50%;
} */


/* p{
    background: rgb(60, 143, 188);
    background: linear-gradient(to right,rgb(23, 105, 148) 0%, rgba(101, 103, 103) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
} */
@media screen and (max-width: 992px){

    .wrap_tree{
        margin-top: 20%;
    }
    
}