/* *************************** */
/**** Arbres généalogiques****/
/* ************* *************/

body {
    margin: 0px;
    font-family: var(--font-text);
    background-image: var(--bg-body);
    height: 100vh;
    color: var(--color-text);
    /* cursor: url(../images/cursor.png), pointer; */
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-img, .dog-tree{
    width: 80%;
}


