
body {
    height: 100vh;
    color: rgba(101,103,103);
}

.description{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.description .bg-title{
    width: 70%;
    
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dog-item-title{
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
}

.title-heading {
    text-transform: uppercase;
    padding : .5rem;

}

.title-heading .title-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.title-heading .title-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

.block-title{
    background:rgb(60, 143, 188);
    color: white;
    box-shadow: 3px 3px 5px 5px rgba(255, 255, 255, .5);
    /* background: linear-gradient(to right, rgb(60, 143, 188) 0%, rgba(101,103,103) 100%); */
}

.dog-item-img{
    box-shadow: 3px 3px 5px 5px rgba(32, 30, 30, 0.678);
}

.bg-title {
    background-color: rgba(255, 255, 255, .85);
    display: flex;
    box-shadow: 3px 3px 5px 5px rgba(32, 30, 30, 0.678);
}

