html {
    --bg-body: linear-gradient(to right, rgba(101, 103, 103), white);
    --color-text: white;
    --color-link: rgb(60, 143, 188);
    --font-title: 'Biograph';
    --font-text: 'Holiday', 'sans-serif';
}

body{
    font-family: var(--font-text)
}

/* ************* */
/**** Croquette****/
/* ************* */

.dogs_croquette {
    margin-bottom: 2rem;
}
.dogs_croquette--title{
    font-size: 3rem;
    font-family: var(--font-title);
    font-weight: bold;
    text-align: center;
    padding: 2%;
    background: rgb(60, 143, 188);
    background: linear-gradient(to right, rgb(7, 53, 78) 40%, rgba(101, 103, 103) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dogs_croquette--p{
    font-size: 2rem;
    text-align: center;
    color: rgb(44, 44, 44);
}

.dogs_croquette--img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.dogs_croquette--img img{

}


/* ************* */
/**** Conseil****/
/* ************* */

.dog--conseil{
    background-color: white;
    padding: 1rem 1rem;
    width: 70%;
    margin: auto;
    box-shadow: 4px 4px 4px 4px grey;
    
}

.dogs_conseil--title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    background: rgb(60, 143, 188);
    background: linear-gradient(to right, rgb(60, 143, 188) 40%, rgba(101, 103, 103) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dog--conseil .dog--conseil--title--h3{
    padding: 1rem 1rem;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-title);
    font-size: 2.5rem;
    background: rgb(60, 143, 188);
    background: linear-gradient(to right, rgb(60, 143, 188) 40%, rgba(101, 103, 103) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dog--conseil p{
    padding: 1rem 1rem;
}

.dog--conseil li{
    list-style: circle;
}

.dog--conseil_wrap{
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.dog--conseil_wrap span{
    font-weight: bold;
    font-size: 1.5rem;
}

.dog--conseil--img{
    width: 30%;
    height: 40%;
}

.dog--conseil--text{
    justify-content: center;
}

.table-responsive{
    margin-top: 2%;
}

@media  screen and (max-width: 992px){
    .dog--conseil_wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dog--conseil--img{
        width: 100%;
        height: 50%;
    }
}