html {
    --bg-body: linear-gradient(to right, rgba(101, 103, 103), white);
    --color-text: white;
    --color-link: rgb(60, 143, 188);
    --font-title: 'Biograph';
    --font-text: 'Holiday', 'sans-serif';
}

/* ************* */
/**** Croquette****/
/* ************* */

.dogs_croquette {
    margin-bottom: 2rem;
}
.dogs_croquette--title{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 2%;
}
.dogs_croquette--p{
    font-size: 2rem;
    text-align: center;

    color: white;
}

.dogs_croquette--img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.dogs_croquette--img img{
    border: 5px rgb(169, 169, 169) ridge;
    box-shadow: 4px 4px 4px 4px grey;
}


/* ************* */
/**** Conseil****/
/* ************* */

.dog--conseil{
    background-color: white;
    padding: 1rem 1rem;
    width: 70%;
    margin: auto;
}

.dogs_conseil--title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    background: rgb(60, 143, 188);
    background: linear-gradient(to right, rgb(60, 143, 188) 40%, rgba(101, 103, 103) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dog--conseil .dog--conseil--title--h3{
    padding: 1rem 1rem;
    text-align: center;
    font-weight: bold;
    background: rgb(60, 143, 188);
    background: linear-gradient(to right, rgb(60, 143, 188) 40%, rgba(101, 103, 103) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dog--conseil p{
    padding: 1rem 1rem;
}

.dog--conseil li{
    list-style: circle;
}


