
@media screen and (max-width: 576px){

    .navbar-brand{
        width: 15%;

    }
}





/* ************* */
/**** A propos****/
/* ************* */
@media (min-width:992px) {
    .dog-item .dog-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem
    }

    .dog-item .dog-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw
    }

    .dog-item .dog-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw
    }
}
